<!DOCTYPE html>
<html style="font-size: 16px;" lang="pl" class="u-responsive-lg"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Regulamin">
    <meta name="description" content="">
    <title>Regulamin</title>
    <link rel="stylesheet" href="stylesheets/nicepage.css" media="screen">
    <link rel="stylesheet" href="stylesheets/Regulamin.css" media="screen">
    <script class="u-script" type="text/javascript" src="javascripts/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="javascripts/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.2.4, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">
    
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Regulamin">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="pl"><header class="u-clearfix u-header u-header" id="sec-cfd7"><div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-font-lobster u-text u-text-default u-text-palette-1-base u-text-1">Centrum Konkursów</h3>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Strona główna</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/konkursy" style="padding: 10px 20px;">Konkursy</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/regulamin" style="padding: 10px 20px;">Regulamin</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Strona główna</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/konkursy">Konkursy</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/regulamin">Regulamin</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-2b24">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Regulamin</h2>
        <p class="u-align-center u-text u-text-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum nulla at tortor sollicitudin, vel fringilla leo cursus. Curabitur eu aliquet orci, vel euismod ex. Cras pulvinar scelerisque imperdiet. Nunc pulvinar erat ultricies magna placerat semper. In hac habitasse platea dictumst. Vestibulum ornare tristique sagittis. Vivamus dictum nec quam in accumsan. Phasellus hendrerit, arcu eu vehicula suscipit, nunc leo commodo tortor, non ornare dui massa sit amet est. Integer eleifend posuere magna sit amet fermentum. Mauris convallis finibus fermentum. Vivamus dictum molestie iaculis. Proin congue lorem felis, vitae auctor ante venenatis vitae. Nullam tincidunt, lacus nec auctor accumsan, augue mauris mattis mi, eu malesuada diam nisl nec ante. Quisque ut felis in urna pretium interdum.Nullam risus felis, fringilla ut nisl in, facilisis viverra velit. Cras rhoncus felis eu quam auctor faucibus sed nec felis. Vestibulum nec tincidunt quam, vitae imperdiet lacus. Curabitur vitae volutpat libero. Suspendisse ut ornare elit, ullamcorper mattis augue. Etiam condimentum neque cursus vulputate pulvinar. Quisque pulvinar metus vel nisi volutpat, quis sodales sapien gravida. Nulla molestie leo sit amet nunc ornare malesuada. Curabitur quis magna non mauris tristique gravida sed sed massa. Integer id tempus eros, at eleifend orci. Cras tempor quam urna, et rhoncus leo rhoncus ac. Phasellus vel lectus dui. Quisque eget maximus quam. Etiam semper accumsan erat non elementum.Integer bibendum fermentum ullamcorper. Curabitur porttitor diam sed est rhoncus vestibulum. Suspendisse porttitor, nisi at vulputate convallis, urna nisl elementum ligula, sit amet placerat arcu metus vitae erat. Morbi elementum, neque ac mattis porttitor, quam nibh sollicitudin felis, nec varius quam ante a nulla. Integer vestibulum velit elementum, facilisis odio in, tincidunt nisl. Sed porta consequat pharetra. Nam id tortor enim. Aliquam neque turpis, ultricies nec quam rhoncus, malesuada volutpat enim. Fusce consectetur mauris eu massa posuere, at volutpat nulla accumsan. Vivamus consectetur eu magna vitae maximus. Aliquam non fermentum neque.Morbi massa lorem, scelerisque non malesuada sit amet, varius eu eros. Vivamus at pulvinar ante, sit amet laoreet velit. Praesent consectetur congue est consectetur eleifend. Fusce hendrerit, justo molestie condimentum suscipit, leo justo luctus ipsum, a cursus mauris dui porttitor ipsum. Maecenas dictum suscipit nisl at tempus. Praesent sollicitudin et justo in congue. Vestibulum et iaculis nunc. Donec ac lacus vel elit fermentum varius. Sed et eros quis eros elementum sollicitudin placerat non massa.Nam nec luctus velit. Aliquam eget lacus nec arcu interdum volutpat. Ut sit amet lacus turpis. Fusce mauris libero, scelerisque viverra sem eu, cursus aliquam arcu. Aenean tempus, quam eu hendrerit finibus, elit turpis efficitur ligula, non faucibus turpis lacus id arcu. In pharetra, felis sed facilisis tincidunt, turpis diam pulvinar leo, at accumsan turpis urna non lorem. Curabitur dignissim efficitur ante at dapibus. Mauris sit amet eleifend felis, nec eleifend enim. Aliquam a hendrerit ex, et aliquet nisl. Mauris ullamcorper quam nisi, in congue arcu vestibulum quis. Mauris ut efficitur eros. Phasellus pellentesque libero sed mauris maximus, sit amet sodales nulla sollicitudin. Quisque sed tristique nisl, sit amet ultrices dolor. Fusce iaculis nisi sed sodales tincidunt. Integer sem mi, rhoncus ac eros et, hendrerit dictum purus.Donec nec tellus sem. Quisque accumsan, leo eu tempor consectetur, ligula nulla dapibus lacus, pulvinar convallis mi quam et augue. Pellentesque lobortis fringilla mi ac imperdiet. Quisque aliquam molestie turpis ac ultrices. Nunc semper accumsan nisi, ut hendrerit leo tempus blandit. Proin at bibendum libero. In eu aliquet metus. Nam ut nunc id sapien convallis malesuada. Proin vitae dui neque.Donec sed ante interdum, fermentum eros et, venenatis metus. Donec sit amet fringilla dolor. Nulla volutpat sollicitudin efficitur. Cras enim nunc, varius in quam eu, molestie pulvinar leo. Phasellus rhoncus faucibus enim, eget tempor nulla placerat sed. Aliquam a ante purus. Aenean blandit tortor id lacus faucibus pretium sed id metus. Cras congue bibendum odio, nec elementum libero dignissim imperdiet. In non arcu vitae lorem suscipit pellentesque ut eget tortor. Sed interdum ultrices neque, non egestas ex laoreet ac.Nulla cursus tempus ipsum non faucibus. Pellentesque consequat, orci vitae commodo dictum, tellus leo aliquam nisi, non feugiat quam odio in ligula. Suspendisse sed accumsan nisl. Donec auctor, urna nec commodo pretium, ex eros facilisis lorem, eget dignissim leo velit sit amet massa. Donec ac dui odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer fringilla a elit ut ultricies. Fusce dui eros, consectetur ac nulla eu, ornare dictum ligula. Curabitur finibus leo quis augue semper sodales. Pellentesque tincidunt posuere tellus sit amet viverra. Vivamus condimentum eu nulla ut egestas. Ut ullamcorper leo vitae dui rhoncus, vitae egestas risus auctor. Duis neque enim, interdum id cursus non, aliquam eu lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum elit nec elit mollis, scelerisque sodales odio porta.Ut a luctus velit, ac ultrices leo. Praesent eget lectus ante. In non leo iaculis, ultricies lorem ut, ullamcorper purus. Curabitur quis ipsum condimentum, sodales risus eget, auctor nisi. Mauris est purus, ultrices nec lectus eu, convallis feugiat mauris. In hendrerit porttitor mauris, id iaculis risus bibendum id. Suspendisse potenti. Maecenas tincidunt nisi ac risus posuere, at bibendum massa porta. Proin mauris odio, hendrerit sit amet volutpat sit amet, hendrerit et enim. Nullam ultricies condimentum porttitor. Donec ex nisi, condimentum non auctor sit amet, mattis id massa. Maecenas eros eros, vulputate fringilla auctor et, commodo vel justo. Pellentesque consectetur felis ipsum, at consequat nibh venenatis ut. Sed commodo accumsan sollicitudin. Sed commodo, tellus vulputate tincidunt facilisis, ante sem ultrices augue, porta aliquam purus dui in libero. Maecenas efficitur risus et mollis volutpat.Quisque et ornare lacus. Etiam scelerisque pulvinar risus sit amet ullamcorper. Maecenas vulputate luctus erat non luctus. Maecenas iaculis nulla nec lectus elementum vestibulum. Curabitur fringilla nisi mollis, mattis nibh in, suscipit sem. Nulla elementum venenatis nisi, a condimentum erat gravida sed. Nam pretium, sem eu ultrices dapibus, sapien velit consequat nibh, id ornare erat quam ac nibh. Nullam nibh ante, pellentesque quis leo sed, tincidunt luctus nulla. Nulla fermentum imperdiet metus, consequat dapibus nisl. Phasellus dignissim feugiat neque, sagittis ultrices dolor porttitor eget. Etiam eget ipsum lorem. In rutrum erat eu justo vulputate hendrerit. Suspendisse pretium, quam sed tincidunt pharetra, nibh arcu iaculis purus, eu posuere urna justo at diam. Proin dapibus lorem a lorem gravida, ut posuere sem aliquam. Proin sed dui ac lacus tristique pulvinar non quis erat. Suspendisse dignissim, turpis id congue gravida, ipsum nisl venenatis metus, a tempor orci tellus id risus.</p>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0409"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Centrum Konkursów 2023<br>
        </p>
      </div></footer>

  
</body></html>